<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test verbose="2" name="All tests">
        <classes>
            <!-- <class name="it.cdc.be.webscraper.WebScraperApplicationTests" /> -->
            <class name="it.cdc.be.webscraper.ScraperServiceTests" />
        </classes>
    </test>
</suite>